@font-face {
  font-family: 'Akronim';
  font-style: regular;
  font-weight: regular;
  src: url('./fonts/akronim-v12-latin-regular.woff2') format('woff2');
}

h1 {
  color: blue;
}

.text {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-family: Akronim;
}
